torch==1.13.1
transformers>=4.31.0,<4.35.0
datasets>=2.14.0
accelerate==0.24.1
peft==0.6.0
trl==0.7.2
gradio>=3.38.0,<4.0.0
scipy
sentencepiece
protobuf
tiktoken
fire
jieba
rouge-chinese
nltk
uvicorn
pydantic
fastapi
sse-starlette
matplotlib
einops
transformers_stream_generator
deepspeed==0.12.5
celery==5.3.6
redis==5.0.1
yaml==6.0
cryptography==37.0.4